.login-form {
  display: flex;
  justify-content: center;
}

.login-box {
  /* border: 1px; */
  border-style: inset;
  padding: 40px;
  /* color: black; */
}

.agree-policy {
  margin-left: 45px;
}

.input-form {
  padding: 8px;
}
